{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parserOptions": {
                    "sourceType": "module"
                }
            }
        }
    ],
    "plugins": [
        "prettier-plugin-import-sort"
    ],
    "rules": {
        "prettier-plugin-import-sort/sort": "error"
    },
    "editor.formatOnSave": true
}